<app-headersinlog></app-headersinlog>

<div class="nosotros">
    <h1>Conoce a Financial Coach</h1>
    <p class="intro">
      <strong>Financial Coach</strong> es una empresa comprometida con tu bienestar financiero. Nuestro objetivo es proporcionarte las herramientas y conocimientos que necesitas para tomar decisiones informadas sobre tus finanzas personales.
    </p>
  
    <div class="content">
      <div class="card">
        <h2>Nuestro Equipo</h2>
        <p>
          Contamos con un equipo de expertos en finanzas que se preocupan genuinamente por tu bienestar económico. Nos esforzamos por entender tus necesidades y ofrecerte soluciones personalizadas que se adapten a tu estilo de vida.
        </p>
      </div>
  
      <div class="card">
        <h2>Educación Financiera</h2>
        <p>
          Creemos que la educación financiera es clave para un futuro más brillante. Por eso, ofrecemos talleres, seminarios y recursos en línea que te empoderarán con el conocimiento necesario para administrar tus finanzas con confianza.
        </p>
      </div>
  
      <div class="card">
        <h2>Asesoría Personalizada</h2>
        <p>
          Nuestros servicios de asesoría están diseñados para ayudarte a alcanzar tus metas financieras. Ya sea que desees ahorrar para un viaje, comprar una casa o invertir en tu futuro, estamos aquí para guiarte en cada paso del camino.
        </p>
      </div>
  
      <div class="card">
        <h2>Siempre a tu Lado</h2>
        <p>
          Con nuestro chatbot disponible las 24 horas, siempre tendrás a alguien con quien hablar. Responderemos tus preguntas y te daremos consejos para que tomes decisiones acertadas en el momento adecuado.
        </p>
      </div>
    </div>
  
    <div class="footer">
      <p>¡Únete a nosotros y comienza tu viaje hacia el control total de tus finanzas!</p>
    </div>
  </div>
  