<div class="financial-coach">
    <h1>Financial Coach</h1>
    <p>
      Registra cada paso de tu progreso y obtén asesoría personalizada, todo desde una interfaz intuitiva y fácil de usar. Al detallar y planificar cada aspecto de tus finanzas, podrás identificar oportunidades de mejora y tomar decisiones más informadas. ¡No dejes que el dinero te controle! Comienza hoy con <strong>Financial Coach</strong> y descubre cómo una buena planificación puede abrirte las puertas a un futuro más próspero. ¡Tu éxito financiero está a solo un clic de distancia!
    </p>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ynDTMGQIWMU" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
