.logo-img {
    cursor: pointer;
    width: 50px; /* Ajusta el tamaño según lo que necesites */
    height: 50px;
  }
  
  .logo-container {
    position: relative;
    cursor: pointer;
  
    .dropdown-menu {
      position: absolute;
      top: 50%;
      left: -220px; /* Posición a la izquierda */
      transform: translateY(-50%);
      width: 200px;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;
      padding: 10px;
      border-radius: 5px;
  
      .dropdown-button {
        width: 100%;
        padding: 15px;
        border: none;
        background-color: transparent;
        cursor: pointer;
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  
    .dropdown-submenu {
      margin-top: 10px; /* Separar el submenú del menú principal */
  
      .dropdown-button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #f9f9f9;
        cursor: pointer;
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
  
      /* Asegurar visibilidad del formulario */
      .change-password-form {
        margin-top: 10px;
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
  
        input {
          padding: 5px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
  
        button {
          padding: 10px;
          background-color: #959595;
          color: white;
          border: none;
          cursor: pointer;
          border-radius: 5px;
  
          &:hover {
            background-color: #959595;
          }
        }
      }
    }
  }
  