.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
  
.chart {
    width: 100%;    // Ajusta el ancho del gráfico al 100% del contenedor
    max-width: 800px; // Ancho máximo del gráfico
    height: 1px;    // Altura del gráfico
}
