.chart-container {
  display: flex;
  justify-content: center; // Centramos horizontalmente
  align-items: center;     // Centramos verticalmente (si es necesario)
  width: 100%;             // El contenedor ocupará el 100% del ancho disponible
  height: 100%;            // Si deseas centrar también verticalmente, asegúrate de que el contenedor tenga altura
  padding: 20px;           // Agregar padding opcional para mejor estética
}

.chart {
  width: 100%;              // La gráfica se adapta al 100% del contenedor
  max-width: 800px;         // Limitar el ancho máximo a 800px
  height: auto;             // Ajustar la altura de manera proporcional
}
